*{
    padding:0;
    margin: 0;
    font-size: 20px;
}
html,body{
    font-size: 20px;
    width:100%;
    height:100%;
}
nav{
    font-size: 0.75rem;
    color: #222;
    height: 1.5rem;
    text-align: center;
    font-weight: 900;
    line-height: 1.5rem;
    background: #ccc;
}
nav .tip{
    float: left;
    margin-left: 5vw;
}
nav .txt{
    float: right;
    margin-right: 5vw;
}
nav .txt a{
    text-decoration: none;
    color: #222;
    font-size: 0.8rem;
}
#box1{
    width:100%;
    background:#19f ;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}
#box1.mg{
    background: #fff;
}
#box1 .img{
    width:40vw;
    margin:0 auto;
}
#box1.mg .img{
    width:50vw;
    margin:10vw auto;
}
#box1 .chk{
    width:50vw;
    height:10vw;
    text-align: center;
    line-height: 10vw;
    border-radius: 5vw;
    background: #1987f7;
    margin: 0 auto;
    color: #d3e8fd;
    font-size: 1.4rem;
    margin:3.3rem auto 1rem;
}
#box1 .chk a{
    display: block;
    border-radius: 5vw;
    line-height: 5vw;
    background: #62b0ff;
    border:2px solid #81bfff;
    text-decoration: none;
    color: #d3e8fd;
}
#box1 .chk a span{
    font-size: 10px;
}
#box1 p{
    font-size:1.1rem;
    color: #8fccff;
    text-align: center;
}
#box2 div{
    height: 5rem;
    width:100%;
    border-bottom: 1px solid #ccc;
    line-height: 5rem;
    font-size: 1rem;
    color: #222;
    font-weight: 600;
    vertical-align: center;
    position:relative;
}
#box2 div img{
    position: absolute;
    top:50%;
    left: 5vw;
    margin-top: -0.8rem;
}
#box2 div p{
    margin-left: 10vw;
}
#box2 .bag a{
    float: right;
    width:3.4rem;
    height:1.4rem;
    line-height: 1.4rem;
    text-align: center;
    border: 1px solid #ef4e4e;
    border-radius: 0.7rem;
    font-size: 0.9rem;
    color: #ef4e4e;
    text-decoration: none;
    margin-top: -0.7rem;
    position: absolute;
    top:50%;
    right: 5vw;
}
#box2 .bag span{
    position: absolute;
    top:0;
    right: 2vw;
}
#box2 .wifi .yj{
    width:2rem;
    height: 1rem;
    border-radius: 0.5rem;
    background: #8fccff;
    margin-top: -0.5rem;
    position: absolute;
    top:50%;
    right: 5vw;
}
#box2 .wifi .yj1{
    background: #ccc;
}

#box2 .wifi .yy{
    width:1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background: #19f;
    float: right;
}
#box2 .wifi .yy1{
     float: left;
     background: #eee;
 }
/*下载*/
.jd{
    text-align: center;
    font-size: 1.1rem;
    color: #858585;
    margin-top: 1rem;
}
.jd span{
    font-size: 2.2rem;
    color: #222;
}
.jdt{
    width:80vw;
    height:3vw;
    background: #ecf0f3;
    border-radius: 3vw;
    margin: 2rem auto;
    display: none;
}
.jdt p{
    /*width:100%;*/
    height:3vw;
    background: #7ed321;
    border-radius: 3vw;
    float: left;
}
.down{
    text-align: center;
    width: 10vw;
    height:5vw;
    line-height: 5vw;
    background: #7ed321;
    border-radius: 1vw;
    margin:1rem auto;
    color: #fff;
    font-size: 0.9rem;
}


@media screen and (max-width: 750px){
    nav .txt a{
        font-size: 0.75rem;
    }
    #box2 .bag a{
        width: 3rem;
        height: 1.2rem;
        line-height: 1.2rem;
        margin-top:-0.6rem;
    }
    #box2 div p {
        margin-left: 13vw;
    }
    .down{
        width: 23vw;
        height:8vw;
        line-height: 8vw;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 580px){
    nav .txt a{
        font-size: 0.6rem;
    }

    #box1 .chk{
        font-size: 0.8rem;
    }
    #box1 .chk a{
        line-height: 9vw;
        border-radius: 13vw;
    }
    #box1 p{
        margin-top: 9vw;
    }
    #box1 .chk2 {
        width:67vw;
        height:12vw;
        background: transparent;
    }
    #box1 p{
        font-size: 0.8rem;
    }
    #box2 div p {
        margin-left: 18vw;
    }
    #box2 .bag a{
        right:6vw;
        width: 2.4rem;
        height: 1rem;
        line-height: 1rem;
        margin-top:-0.5rem;
    }
    .down{
        width: 23vw;
        height:8vw;
        line-height: 8vw;
        font-size: 0.8rem;
    }
}